@page "/about"

<p>This site implements utilities to help a person manually edit SVG files.</p>

<p>The source code is available at: <a href="https://github.com/ProgrammerAL/QrCodeHelpers" target="_blank">https://github.com/ProgrammerAL/QrCodeHelpers</a></p>


