@page "/about"

<p>This site is meant to create a QR Code specifically for the input text.</p>
<p>If you lookup QR COde generators online, they will make a QR Code to a shortened URL going through their servers.</p>
<p>If you just want a QR Code to a specific URL (or just plain text) you can use this.</p>

<p>The source code is available at: <a href="https://github.com/ProgrammerAL/qr-code-generator" target="_blank">https://github.com/ProgrammerAL/qr-code-generator</a></p>


