@using ProgrammerAl.QrCodeHelpers.Components
@inherits LayoutComponentBase

<div class="page">
    <div class="px-8 bg-gray-200 border flex justify-end">
        <a href="/about" class="text-blue-700 text-xl p-2">About</a>
    </div>

    <main class="flex flex-col mt-4">
        <article class="content mx-8">
            @Body
        </article>
    </main>
</div>
